
.swiper-slide {
  position: relative;
  z-index: -1;
  filter: brightness(40%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

}


.swiper-slide:nth-child(1) {
  background-image: url("https://avatars.dzeninfra.ru/get-zen_doc/175962/pub_5d676cf4ecfb8000acd87a3f_5d6775719c944600aef658c0/scale_1200");
}

.swiper-slide:nth-child(2) {
  background-image: url("https://optic-street.ru/upload/medialibrary/69c/343avkljh1ya5y2sdxk1e325aor5po10.jpg");
}

.swiper-slide:nth-child(3) {
  background-image: url("https://s.mediasole.ru/images/2850/2850264/original.jpg");
}

//.header__content {
//  position: absolute;
//}

.hero {
  padding-bottom: 70px;
}

.hero__con {
  position: relative;
  .swiper {
    width: 100%;
  }

  .hero__content {
    padding: 75px 300px 70px 40px;

    .hero__title {
      margin-bottom: 20px;
    }

    .hero__btn {
      padding: 15px 35px ;
      font-size: 32px;
      font-weight: 500;
      border: 3px solid #fff;
      color: #fff;
      border-radius: 10px;
    }

    .hero__descr {
      font-weight: 200;
      margin-bottom: 100px;
    }
  }

  .swiper {
    height: -webkit-fill-available;
    position: absolute;
    /* margin: 0; */
    left: 0;
    z-index: -1;
  }

}